body{
    background-color: black;
}

/* OPTION */

.option{
    display: flex;
    justify-content: flex-end;
    background-color: black;
    color: white;
    margin-bottom: 30px;

}

.option-container{
    margin-top: 5px;
}

.speaker-view{
    padding: 3px;
    background-color: lightgrey;
}

.maximize{
    background-color: lightgray;
    padding: 3px;
}

/* MAIN */

main{
    height: 100vh;;
}

.row{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 5px;
}


.image{
    position: relative;
}
 
.name{
    position: absolute;
    bottom: 5px;
    left: 0;
}

.name, i{
    color: white;
    background-color: rgba(221, 221, 221, 0.5);
}

/* FOOTER */

footer{
    display: flex;
    justify-content: space-between;
    background-color: black;
    color: white;

    /* debug */
    height: 60px;
}

ul{
    list-style: none;
}

ul li{
    display: inline-block;
}